
.searchBox{
	text-align: center;
	margin-top: 30px;
}

.searchStyle{
    width: 307px;
    height: 54px;
    font-size: 20px;
	text-transform: uppercase;
}

.searchButton{
	height: 54px;
	width: 107px;
	font-size: 20px;
	color:white;
	background:blue;
	text-transform: uppercase;
}

.Body-color{
	background-color: #ffb100ad;
}

.bg-color{
	background-color: rgb(255, 255, 255);
}

.imgWidth{
	width: 100%;
	height: 300px;
}

.margin{
	margin-top: 45px;
}

.bgColor{
	background-color: azure;
	border: 10px solid gray;
	border-radius: 15px;
	text-align: center;
	margin-bottom:30px;
	
}

.button{
	padding: 10px 10px;
	margin: 10px 0px;
}

.displayImg{
	width: 400px;
}

